* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background: #080808;
  color: #fff;
}

#header {
  width: 100%;
  height: 100vh;
  background-image: url(Images/Untitled-2.png);
  background-size: cover;
  background-position: center;
}

.contanier {
  padding: 5px 5%;
}
.contanier span {
  color: #d00707;
}
.contanier span1 {
  color: #fff;
}
.contaniernav {
  padding: 10px 5%;
  margin-right: 480px;
}
.contanier nav li a{
  color: #fff;
}
.sectionssss{
  display: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 140px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  /* color: #fff; */
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #d00707;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100px;
}

.header-text {
  margin-top: 20%;
  font-size: 30px;
}

.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
}

.header-text span {
  color: #d00707;
}

/* ---ABOUTMEEEEE--- */

#about {
  padding: 80px 0;
  color: #ababab;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about1 {
  flex-basis: 35%;
}

.about1 img {
  width: 100%;
  border-radius: 15px;
}

.about2 {
  flex-basis: 60%;
}

.suptitle {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}

.tabtitle {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 59px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #d00707;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  color: #fa3a3a;
  font-size: 14px;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}

/* ----------SERVİCES---------- */

#services {
  padding: 30px 5;
}
.serviceslist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.serviceslist div {
  background-color: rgb(26, 26, 26);
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}

.serviceslist div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.serviceslist div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.serviceslist div a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

.serviceslist div:hover {
  background: #d00707;
  transform: translateY(-10px);
}
/* ----------------PORTFOLİOO---------------------- */
#portfolio {
  padding: 50px 0;
}
.worklist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
  /* Dublicated From Services List */
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
}

.layer {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), #d00707);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}
.layer a {
  margin-top: 20px;
  color: #000;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.btn {
  display: block;
  margin: 58px auto;
  width: fit-content;
  border: 1px solid #d00707;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0, 5;
}
.btn:hover {
  background: #d00707;
}
/* ------CONTACT------------- */

.contact-left {
  flex-basis: 35%;
}
.contact-right {
  flex-basis: 60%;
}
.contact-left p {
  margin: 30px;
}

.contact-left p i {
  color: #fff;
  margin-right: 15px;
  font-size: 25px;
}

.social {
  margin-top: 30px;
  padding-left: 30px;
}
.social a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;

  color: #b3b3b3;
  display: inline-block;
  transition: transform 0.5s;
}

.social a:hover {
  color: #d00707;
  transform: translateY(-10px);
}

.btn.btn2 {
  display: inline-block;
  background-color: #d00707;
}
.btn.btn2:hover {
  background-color: #000;
  color: #d00707;
  transform: translateY(-4px);
}

.contact-right form {
  width: 100%;
}
form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  color: whitesmoke;
  background-color: #0e0e0e;
  padding: 15px;
  margin: 15px 0;
  font-size: 15px;
  border-radius: 6px;
}
form .btn2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}


/* ---------SEEE MOREE-------------- */

.contaniernav.nav{
 margin-left: 200px 0;
 margin-right: 600px 0;
}

.header-text.text q{
  color: #d00707;
}

.header-text.text p{
  margin-top:100px
  
}
.header-text.text {
  margin-top: 10%;
  font-size: 20px;
  margin-left: 30px;;
}

.header-text.text h1 {
  font-size: 60px;
  margin-top: 20px;
}

.header-text.text span{
  color: #d00707;
}

#headers{
  width: 100%;
  height: 100vh;
  background-image: url(Images/arkaplan.jpg);
  background-size: cover;
  background-position: center;
}

/* ------PRODUCTS--------- */
.black li{
  font-size: 20px;
  color: whitesmoke !important;
  background-color: transparent !important;
  
  font: bold;
}

/* --popup---------- */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  color: black;
  background-color: #fefefe;
  margin: 15% auto;
  margin-bottom: 50px;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal h2{
  text-align: center;
  font-size: 100px;
  margin-top: 90px;
}
.modal p{
  text-align: center;
  }
